*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
}

.container{
    width: 1440px;
    height: auto;
    margin: 0 auto;
}

@font-face {
    font-family: VelaSans;
    src: url(./assets/fonts/VelaSans/Variable/VelaSans-GX.ttf);
}

body{
    font-family: VelaSans;
}

button{
    cursor: pointer;
}

a{
    color: #fff;
    text-decoration: none;
    outline: none;
}